<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.ui/1.8.5/jquery-ui.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
            var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    // var url = 'http://www.google.com';
    // $.getJSON(url, function(data) {
    //     alert(data);  
    //     // can use 'data' in here...
    // });
    // $( "#actor1" ).autocomplete({
    //   source: availableTags
    // });

    //NEW ADDITION NAO
    // $( "#actor1" ).autocomplete({
    //   source: function( request, response ) {
    //     $.ajax({
    //       url: "http://ws.geonames.org/searchJSON",
    //       dataType: "jsonp",
    //       data: {
    //         featureClass: "P",
    //         style: "full",
    //         maxRows: 12,
    //         name_startsWith: request.term
    //       },
    //       success: function( data ) {
    //         response( $.map( data.geonames, function( item ) {
    //           return {
    //             label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
    //             value: item.name
    //           }
    //         }));
    //       }
    //     });
    //   },
    //   minLength: 2,
    //   select: function( event, ui ) {
    //     log( ui.item ?
    //       "Selected: " + ui.item.label :
    //       "Nothing selected, input was " + this.value);
    //   },
    //   open: function() {
    //     $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
    //   },
    //   close: function() {
    //     $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
    //   }
    //});// NEW ADDITION NAOO


//CALLING OUR API! CAUTION
    $( "#actor1" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
           url:'http://six-degrees.rhcloud.com/GetActorList/',
           type:'GET',
           dataType : "jsonp",
           data:{
            style: "full",
            maxRows: 12,
            name: request.term},
            success:function(data){
             //alert(data);
             // json object label and value as data
                response( $.map( data, function( item ) {
                    alert(item.name);
                     return {
                  label: item.name,
                  value: item.name
                     }
             }));
           },
           error:function(w,t,f){
             alert("error:" +  w + t + f);
           },
           jsonp : 'jsonp'
        });
      },
      minLength: 2,
      select: function( event, ui ) {
        log( ui.item ?
          "Selected: " + ui.item.label :
          "Nothing selected, input was " + this.value);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    })
//CALLING OUR API! CAUTION
      });
    </script>
    <!-- Le styles -->
    <link href="media/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="media/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Six Degrees of Acting!</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Hello, movie lovers!</h1>
        <p>Try to guess the path of (a possible) connection between two actors!</p>
        <p><img src="http://photo.goodreads.com/authors/1276382175p5/82952.jpg"/></p>
        <p>
          <label for="actor1">Actor 1</label>
          <input id="actor1"/>
          <label for="actor2">Actor 2</label>
          <input id="actor2"/>
        </p>
        <p id="hello"/>
        <p><a class="btn btn-primary btn-large">Let's Play! &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
